$company-font: 'Amatic SC';
$main-font: 'Raleway';

$base-font-size: 18px;
$base-font-weight: 300;

$header-font-size: 3rem;
$header-font-weight: 700;
$mobile-header-font-size: 2.5rem;

$h2-font-size: 2.5rem;
$h2-font-weight: 300;
$mobile-h2-font-size: 1.9rem;

$h3-font-size: 2rem;
$h3-font-weight: 400;
$mobile-h3-font-size: 1.3rem;

$nav-font-size: 1rem;
$toggle-font-size: 1.2rem;

$primary-text-color: #2a2a2a;
$secondary-text-color: #dab33c;
$tertiary-text-color: #c56003;
$button-color: #ef8c64;
$background-one: rgba(116, 153, 152, 0.52);
$background-two: #f5f4f4;
$background-green: rgb(159, 199, 122);

@mixin button_base {
  border: none;
  background: $button-color;
}
