.main_button {
  width: 275px;
  height: 100px;
  border: 3px solid $button-color;
  display: flex;
  align-items: center;
  justify-content: center;

  button {
    @include button_base;

    transition: width 0.7s ease-out;
    transition: height 0.7s ease-out;
    width: 250px;
    padding: 1.5rem;
  }

  button:hover {
    cursor: pointer;
    width: 275px;
    height: 100px;
    color: white;
  }
}
