.button {
  border: 3px solid $button-color;
  width: 250px;
  padding: 1.5rem 0;
  margin: 0 auto;
  text-align: center;
  // border-radius: 2px;

  a {
    background: $button-color;
    padding: 1rem 3rem;
    font-weight: 400;
  }
}

.button.instagram {
  a {
    padding: 1rem;
  }
}
