@media screen and (min-width: 769px) {
  .parallax-window {
    height: 400px;
  }

  footer {
    .parallax-window {
      .copyright {
        bottom: 2rem;
      }
    }
  }

  .intro {
    max-width: 700px;
    margin: 5rem auto;

    h1 {
      font-size: $header-font-size;
    }

    h2 {
      font-size: $h2-font-size;
    }
  }

  .section {
    &.meetings,
    &.act {
      h3 {
        font-size: $h3-font-size;
      }

      h2 {
        font-size: $h2-font-size;
        max-width: 700px;
        margin: 0 auto 2rem;
      }
    }

    &.instagram {
      .instagram_tag {
        h2 {
          font-size: $h2-font-size;
        }
      }

      .instagram_img {
        flex-direction: row;
        justify-content: center;
        margin: 3rem 1rem;

        a {
          img {
            width: 150px;
            height: 150px;
          }
        }
      }
    }
  }

  .section.about {
    .about_content {
      margin-top: 70%;
    }
  }
}

@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    bottom: 50px;
  }

  .toggle {
    display: none;
  }

  .section.instagram {
    .instagram_img {
      a {
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }

  footer {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .parallax-window {
    height: 500px;
  }

  .section.instagram {
    .instagram_img {
      a {
        img {
          width: 250px;
          height: 250px;
        }
      }
    }
  }

  .section.about {
    .about_content {
      margin-top: 50%;

      .about_content_text {
        .about_content_text_img {
          margin-top: -400px;

          img {
            width: 300px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  .parallax-window {
    height: 600px;
    max-width: 1900px;
  }

  .section {
    max-width: 1900px;
    margin: 0 auto;
  }
}
