nav {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  display: none;

  .main_nav {
    display: flex;
    flex-direction: column;

    .nav_buttons {
      margin-right: 0;
      margin-bottom: 0.5rem;

      img {
        width: 100px;
      }

      button {
        @include button_base;

        transition: padding-right 0.3s ease;
        padding: 0.3rem 0.5rem;
        width: 110px;
        text-align: left;
      }

      button:hover {
        padding-right: 200px;
        cursor: pointer;
      }
    }
  }
}

.toggle {
  position: fixed;
  z-index: 3;
  transition: height 0.5s ease;
  display: flex;
  left: 0;
  height: 60px;
  background: $background-two;

  .toggle_button {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    position: absolute;
    left: 0;
    right: 0;
    top: -20px;
    background: $background-two;

    span {
      display: block;
      width: 60px;
      height: 7px;
      margin: 0.3rem auto;
      background: $button-color;
      position: relative;
      top: 20px;
    }

    .short {
      width: 40px;
    }

    .top {
      display: none;
    }
  }

  ul {
    display: none;
  }
}

.toggle.open {
  transition: height 0.5s ease;
  height: 500px;

  .toggle_button {
    .top {
      display: block;
    }

    .bottom {
      display: none;
    }
  }

  ul {
    display: block;
    margin: 0 auto;
    position: relative;
    text-align: center;
    top: 70px;

    img {
      width: 150px;
      margin-bottom: 0.5rem;
    }

    li {
      background: transparent;
      list-style: none;
      margin-bottom: 0.5rem;

      a:hover {
        transition: font-size 0.3s ease;
        font-size: $toggle-font-size;
        font-weight: 500;
        letter-spacing: 7px;
      }
    }
  }
}
