footer {
  .parallax-window {
    position: relative;

    .copyright {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 3rem;
      text-align: center;
    }
  }
}

.parallax-window {
  min-height: 400px;
  background: transparent;
  width: auto;
}
