.section {
  overflow-x: hidden;
  text-align: center;

  .content {
    display: flex;
    margin-bottom: 2rem;
    max-width: 700px;

    h3 {
      font-size: $mobile-h3-font-size;
      margin-top: 3.5rem;
    }

    .small_width {
      width: 250px;
    }
  }
}

.section.meetings {
  background-color: $background-one;

  .content {
    .meetings_content_early {
      margin-top: 5rem;
    }

    .meetings_content_img {
      margin-right: 0.5rem;

      a {
        .meh {
          margin-left: -25px;
        }

        .almost {
          width: 270px;
        }
      }
    }
  }
}

.section.act {
  padding-bottom: 4rem;

  .content {
    margin-bottom: 0;

    .first_date {
      margin-top: 5rem;
      position: relative;
      z-index: 1;
    }

    .act_content_img {
      .nice {
        margin-left: -25px;
      }
    }
  }

  .content.column {
    flex-direction: column;
    margin-top: -35px;

    h3 {
      margin-bottom: -25px;
      position: relative;
      z-index: 1;
    }
  }

  h2 {
    font-size: $mobile-h2-font-size;
    margin-bottom: 1rem;
  }
}

section.instagram {
  background: $background-two;
  margin-bottom: 0;
  padding-bottom: 4rem;

  .instagram_tag {
    margin: 2rem 0.5rem 1.5rem;

    a {
      h2 {
        font-size: $mobile-h2-font-size;
        color: $button-color;
      }
    }
  }

  .instagram_img {
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;

    a {
      img {
        height: 300px;
        vertical-align: text-bottom;
      }
    }
  }

  .button.instagram {
    margin-bottom: 2rem;
  }
}

.section.about {
  padding: 0;
  position: absolute;
  height: 100vh;
  width: 100vw;

  .about_img {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1;

    img {
      height: 100vh;
      width: 100vw;
    }
  }

  .about_content {
    position: relative;
    height: auto;
    width: 100vw;
    margin-top: 100%;
    z-index: 2;
    background: $background-green;
    padding: 5rem 1rem;

    .about_content_text {
      max-width: 700px;

      .about_content_text_img {
        margin-top: -300px;
        margin-bottom: 3rem;

        img {
          width: 200px;
        }
      }

      h2 {
        font-size: $header-font-size;
        line-height: 1;
        margin: 7rem 0 1.5rem;
      }

      p {
        font-size: $paragraph-font-size;
        line-height: 1.5;
        margin-bottom: 0.8rem;
      }
    }
  }

  .footer.about_footer {
    position: relative;
    height: 50vh;
    width: 100vw;
    z-index: 2;

    p {
      position: relative;
      bottom: -100px;
    }
  }
}
